
.sidebar {
   text-align: center;
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   right: 0;
   background-color: #1d1d1d;
   overflow-x: hidden;
   padding-top: 60px;
 }
 .expandSidebar {
   width: 100vw;
 }
 .sidebar a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
 }
 
 
@media screen and (max-height: 450px) {
   .sidebar {padding-top: 15px;}
   .sidebar a {font-size: 18px;}
 }

 .sbHomeCont {
   align-items: center;
   display: flex;
   flex-direction: column;
   padding-bottom: 10vh
 }
 .sbNamelogo {
  color: #fff;
  margin-top: 1px;
  font-size: 2.2rem;
  font-weight: bold;
 }


 
.iconSize {
  width: 30px;
  height: 30px;
}
.logoSideB{
  text-align: center;
}

.navIcon {
  height: 65px;
  margin-right: 10px;
}
.descSb {
  font-family: 'Open Sans';
  font-size: 1rem;
}

.footIcons {
  color:#818181;
  font-size: 30px;
  display: inline-flex;
  padding-inline: 5px;
}

.padding- {
  padding-inline-start: 0px;
}