.tadaLetter {
   font-size: 500%;
   display: inline-flex;
   font: bold;
   height: 90%;
   font-weight: 800;
   margin: 0 0 0 0;
   font-family: "Open Sans",sans-serif;
}
.aboutContainer {
   padding-top: 15%;
}
.lastdivPad{
   padding-right: 10px;
}
.lastLetterPad{
   padding-right: 2%;
}

.img {
   height: 85px;
   margin-bottom: 13px;
   
}
.concatRow {
   display: flex;
   align-items: center;   
}
.whitespace {
   width: 10px;
   padding-right: 14px;
}