// .animate__animated {
//     --animate-duration: 2s;
//   }

body, html, .sidebar {
    background-color: #1d1d1d!important;
    color: white!important;
    overflow: hidden!important;
}
:root {
    --animate-duration: 2.5s;
    --animate-delay: 0s;
    --animate-repeat: 1;
}